URxvt.font: xft:monospace:size=11
URxvt.scrollBar: false
URxvt.background: #151515
URxvt.foreground: #e5e5e5
URxvt.color1: #C01C28
URxvt.color2: #26A269
URxvt.color3: #A2734C
URxvt.color4: #12488B
URxvt.color6: #2AA1B3
URxvt.color7: #D0CFCC
URxvt.color8: #5E5C64
URxvt.color9: #F66151
URxvt.color10: #33D17A
URxvt.color11: #E9AD0C
URxvt.color12: #2A7BDE
URxvt.color13: #C061CB
URxvt.color14: #33C7DE
URxvt.color15: #FFFFFF
